
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --button: rgb(29, 66, 113);
    --font: rgb(255, 255, 252);
    --hover: rgb(24, 89, 59);
    --extra: rgb(165, 174, 188);
}



header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

body {
margin: auto;
background-color: rgb(186, 186, 186);
    }

h1{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    color: var(--button);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header{
    font-style: italic;
    color: var(--hover);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.about-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-content: center;
    background-color: var(--extra);
    padding: 10px;

}

.about-title{
    font-size: 25px;
}

.startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startBtn button{
    margin-top: 2%;
    background-color: var(--button);
    font-size: 20px;
    padding: 10px 10px;
    border: none;
}
.startBtn button:hover{
    background-color: var(--hover);
    transition: 0.5s;
}

button {
    background-color: var(--button);
    color: white;
}

#answerFeedback{
    font-size: 30px;
    color: var(--hover);
    margin-left: 15px;
}

#quizBox {
display: flex;
margin-left: 30px;
color: var(--button);
}

#choices button{
    font-size: 15px;
    width: 250px;
    height: 50px;
    margin: 5px;
}
#quizComplete {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: larger;
    color: var(--hover);
}

#scorePage {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: larger;
    color: var(--hover);
}
